
body{

}


.container-fluid{
  width:100%;

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.carouselround{}
/* Footer format sectoin */

footer p {
    margin-bottom: 0px;
    color:#003300;
}
footer a {

  display: block;
  color:white;
}
footer hr{
  height: 1px;
  color: white;
  background-color: white;
  border: none;
  width:80%;
}
.arrow{
  position: absolute;
  top:23px;
  bottom:0;
  right:0;
}

.transparentbox{
  background-color:rgba(0,0,0,0.2);
  padding-top: 49px;
  padding-bottom: 49px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
  /* For mobile phones: */
@media only screen and (max-width: 768px) {


  .transparentbox{
    background-color:rgba(0,0,0,0.1);
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

  }
  /*Addition for non curve footer*/
  .noncurveft{
     background-image: linear-gradient(#009900, #004d00);
     padding-left: 113px;
     padding-right: 113px;
     padding-top: 40px;
     padding-bottom: 40px;
     position:absolute;
  }
  .hidecurve{
    display: none;
  }
}


/* Footer format section end */


/* to position logo in black nav bar*/




/*Social media links */
#organic{

}
.fa {

  font-size: 40px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;

}

.fa-twitter {
  background: #55ACEE;
  color: white;
  float:left;
}

/* Middle curve section */
.roundimg{
  height:120px;
  width: 120px;
  border-radius: 50%;
}
/* END Middle curve section */
