
body{


}

/* Dark Nav-Bar */
.who, .text-muted{
  text-align:left;
  width:70%;
}

/* to position logo in black nav bar*/


/* */
.contact {
  width: 288pt;
  height: 148px;
  bottom: 63pt;
  right: 18pt;
  width: 288pt;
  max-height: 100%;
  top: auto;
  color: pink;
}

.container-fluid{
  width:100%;
}

footer p {
    margin-bottom: 0px;
}

/*Social media links */
#organic{

}
.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 15px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;

}

.fa-twitter {
  background: #55ACEE;
  color: white;
  float:left;
}
