
body{

}
.contact {
  width: 288pt;
  height: 148px;
  bottom: 63pt;
  right: 18pt;
  width: 288pt;
  max-height: 100%;
  top: auto;
  color: pink;
}

.container-fluid{
  width:100%;
}

footer p {
    margin-bottom: 0px;
}
